//landing page

#index {
  background-image: url('../img/stars.jpg');
  background-color: black;
  animation:   space-animation 60s linear infinite;
}

.logo {
  @include positioning(absolute, 20%, 25%, 900px, 123px);
  background-image: url('../img/logo.png');
}

.mars {
  @include positioning(absolute, 40%, 29%, 700px, 700px);
  background-image: url('../img/mars2.png');
  display: flex;
  justify-content: center;

  a {
    margin-top: 35%;
    @include text($white, 3em, $main, 5px);
    text-decoration: none;
    -webkit-animation-duration: infinite;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

//about page

#about {
  padding: 0;
  margin: 0;
}
.container {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
}

.misson {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-info {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;

  .content {
    width: 600px;

    p {
      @include text($black, 18px, $main, 2px);
      line-height: 123%;
      padding: 4%;
      margin: 0;
    }
  }
}
.time-info {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;

  .slideshow {
    margin-top: 1%;
    width: 500px;
    height: 300px;
  }

  .content {
    width: 600px;

    p {
      @include text($black, 18px, $main, 2px);
      line-height: 123%;
      padding: 4%;
      margin: 0;
    }
  }
}
