#typewritter {
  @include text($white, 35px, $main, 5px);
  padding: 0;
  margin-top: 15%;
  margin-left: 40%;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(62, end);

  @media screen and #{$brk-md} {
  margin-top: 20%;
  margin-left: 35%;
  height: 25%;
  }
}


.mission {

@media screen and #{$brk-md}  {
  background-image: url('../img/background.jpg');
  height: 600px;
  background-color:#fff;

  // background-position: 0;
  // object-fit: cover;
  // background-repeat: no-repeat;
  // background-size: 100%;
  // position: relative;
  // overflow: hidden;
  width: 100%;
  // margin-top: 0;
  // background-color:#fff;
  }

    @media screen and #{$brk-lrg} {
      background-image: url('../img/background.jpg');
      height: 600px;
      background-position: 0;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      overflow: hidden;
      width: 100%;
      margin: 0;
      background-color:#fff;
    }
}

.mission:before, .mission:after {

  @media screen and #{$brk-lrg} {
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    padding-bottom:3%;
    opacity: 1;
  }
  @media screen and #{$brk-md} {
    display: none;
  }
}
.mission:before {

  @media screen and #{$brk-md} {
    display: none;
  }


  @media screen and #{$brk-lrg} {
    right: 50%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -ms-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
  }
}
.mission:after {
  @media screen and #{$brk-lrg} {
    left: 50%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
  }
}
