#typewritter {
  @include text($black, 22px, $main, 5px);
  padding: 0;
  margin-top: 5%;
  margin-left: 40%;

  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(62, end);
}
