.falcon-9 {
  .card {
    .image{
      img:hover {
        height: .5%;
        -webkit-transform: rotate(90deg);
      }
    }
  }
  .card:nth-of-type(5) {
    .image{
      img:hover {
        -webkit-transform: scale(1.1);
      }
    }
  }
}
