@keyframes animate {
	from {
		background-position: 184px 0;
	}
}
@keyframes space-animation {
  from {
      background-position-y: -100%;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px $shadow;
  }
  to {
    text-shadow: 0 0 25px darken($shadow, 45%);
  }
}

@keyframes type{
  from { width: 0; }
}

@-webkit-keyframes fadeIn {
	 0% {opacity: 0;}
	 100% {opacity: 1;}
}

@keyframes fadeIn {
	 0% {opacity: 0;}
	 100% {opacity: 1;}
}
