@mixin positioning($position: null, $top: null, $left: null, $width: null, $height: null) {
  position: $position;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin text($color: null, $font-sz: null, $font-fm: null, $letter-spc: null) {
  color: $color;
  font-size: $font-sz;
  font-family: $font-fm;
  letter-spacing: $letter-spc;
}

@mixin backg-img($min-h: null, $bck-attach: null, $bck-pos: null, $bck-sz: null, $bck-rp: null) {
  min-height: $min-h;
  background-attachment:$bck-attach;
  background-position: $bck-pos;
  background-size: $bck-sz;
  background-repeat: $bck-rp;
}
@mixin size($margin: null, $padding: null, $line-h: null) {
  margin: $margin;
  padding: $padding;
  line-height: $line-h;
}
