// colors
$white: white;
$shadow: rgb(174, 238, 238);
$black: black;
$blue: #3B3DB6;
$red: #EA4545;
$box: rgba(0, 0, 0, 0.8);

//fonts
$main: 'Exo 2', sans-serif;

// media queries
$brk-lrg: '(min-width: 768px)';
$brk-md: '(max-width: 1065px)';
